<header>
    <% if logged_in? %>
        <nav class='d-flex justify-content-around navbar bg-info'>
            <%= link_to '投稿する', new_article_path, class:'decoration-none' %>
            <%= link_to '投稿一覧', articles_path, class:'decoration-none' %>
            <%= link_to 'アカウント', user_path(current_user), class:'decoration-none' %>
            <%= link_to 'ログアウト', session_path(current_user), data: {turbo_method: :delete} %>
        </nav>
    <% else %>
        <nav class='d-flex justify-content-around navbar bg-info'>
            <p>ログインをして下さい。</p>
        </nav>
    <% end %>
</header>
